@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffffd;
  --black: #000000;
  --blue: #457d97;
  --lightYellow: #fffdc0;
  --Yellow: #f7d683;
  --poopYellow: #ccb24c;
}

*{
  scroll-behavior: smooth;
}
